@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Patrick+Hand&display=swap');
@import "tailwindcss";

@theme {
  --font-hand: "Patrick Hand", cursive;
  --font-heading: "Fredoka", sans-serif;
}

body {
  background-color: #f3f4f6; /* gray-100 */
  font-family: var(--font-hand);
}

.bg-grid {
  background-size: 50px 50px;
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
}

.perspective-1000 {
  perspective: 1500px; /* Increased perspective for better 3D look */
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(-180deg);
}
